.arq__one-column {
	$col-1: 100%/12;
	padding: 55px 0 40px ;
	@include under(sm){
		padding: 35px 0 0 ;
	}

	&__box {
		padding: 0 10px;
		&-img {
			margin-bottom: 25px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include under(sm){
				margin-bottom: 15px;
			}
		}

		&-categorie {
			@extend %columns-categories;
			padding-top: 22px;
			padding-bottom: 20px;
			@include under(sm){
				margin-bottom: 10px;
			}
		}

		&-content {
			@extend %paragraph-two-columns-content;;
			width: 74%;
			@include under(sm){
				width: 100%;
			}
		}
	}

	&__cont-img {
		position: relative;
		width: 100%;
		padding-top: 66.7%;
	}

	.col-1-3 {
		width: calc(#{$col-1} * 3);
		@include under(sm){
			width: calc(#{$col-1} * 11);
			margin: 0px auto;
		}
	}

	&--publicidad {
		width: 100%;
		padding-top: 100%;
		background: orange;
	}
}
