$colors: (
	base:	#312822,
	white:	#FFFFFF,
	black: #000000,
	gray: #808080,
	azulClaro: #d2e3e6,
	);

@function c($color:base) {
	@return map-get($colors, $color);
}

//no borrar
$colorForeground: c();
$colorBackground: c(white);
$colorFeatured: c(azulClaro);
$colorError: #8A1010;
