.films {
	margin-top: 237px;

	@include under(md) {
		margin-top: 180px;
	}
	@include under(sm) {
		margin-top: 110px;
	}

	&__ttl {
		@extend %title-pages;
	    margin-bottom: 135px;
		@include under(sm) {
			margin-bottom: 50px;
		}
	}

	.two__columns {
		padding-top: 0px;
	    margin-bottom: 0px;
	}

	.two__columns-box {
		margin-bottom: 50px;
	}

	/* P u b l i c i d a d */
	.publicidad {
	    width: 50vw;
	    height: 90px;
	    background: orange;
	    margin: 0px auto 55px;
		@include under(sm) {
			width: 100%;
			margin: 0px auto 40px auto;
		}
	}

	/* N e w s l e t t e r */
	.newsletter {
		margin-bottom: 90px;
		@include under(sm) {
		    margin-bottom: 50px;
		}
	}


	.home__video {
		margin-top: 0px;
	    margin-bottom: 36px;
	}
	.home__video-ttl.text-center {
		display: none;
	}
	.add-ajax-posts {
		margin: 100px 0px 58px 0px;
		@include under(sm) {
			margin: 0px 0px 20px 0px;
		}
	}

}
