.newsletter {
	$col-1: 100%/12;
	background-color: c(azulClaro);
	padding-top: 36px;
	padding-bottom: 50px;
	margin: 45px 0;

	@include under(sm) {
	    padding-bottom: 30px;
	}
	&__content {
		width: calc(#{$col-1} * 6.2);
    	margin: 0 auto;
		@include under(sm) {
			width: 100%;
		}

		&-title {
			@extend %title-newsletter;
			text-align: center;
			padding-bottom: 23px;
		}

		&-text {
			@extend %paragraph-newsletter-text;
			text-align: center;
    		padding-bottom: 35px;
		}

		&-form {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			margin: 0 auto;

			@include under(sm) {
				flex-direction: column;
				width: 100%;
			}
			&--input {
				@extend %input-newsletter;
				width: 100%;
				height: 48px;
				background-color: transparent;
				border: 2px solid c(black);
				@include under(sm) {
					width: 100%;
					height: 35px;
					font-size: 16px;
				}
			}

			&--button {
				@extend %button-newsletter;
				@include under(sm) {
					min-width: 40px;
					border-left: 0px;
					margin-left: 0px;
				}
			}
		}
	}

	.form-flex {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    flex-direction: row;

		.show-on-desktop{
			@include under(sm) {
				display: none;
			}
		}
	    .show-on-mobile {
	    	display: none;
	    	@include under(sm) {
				display: block;
			}

	    }
	}
}

#mc_embed_signup_scroll {
	$col-1: 100%/12;

	width: 100%;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
	.mc-field-group {
		width: 100%;
		margin-right: 20px;
		@include under(md-1200) {
			margin-right: 10px;
		}
		@include under(sm) {
			margin-right: 0px;
		}
	}
	@include under(sm) {
		flex-direction: column;
	}
}

#mc_embed_signup div.mce_inline_error {
	font-family: "GillSans", sans-serif;
	font-size: 16px;
	line-height: 30px;
	// font-weight: normal !important;
	color: #6B0505 !important;
	padding: 2px 0px !important;
	background-color: transparent !important;
	margin: 10px 0 1em 0 !important;
}
